<h3>Tambah Film</h3>
<div class="row">
    <form action="/film" method="POST" class="col s12">
        <div class="row">
            <div class="input-field">
                <input type="text" id="judul" name="judul">
                <label for="judul">Judul</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <select id="status" name="status">
                    <option value="Belum Ditonton" selected>Belum Ditonton</option>
                    <option value="Sedang Ditonton">Sedang Ditonton</option>
                    <option value="Sudah Ditonton">Sudah Ditonton</option>
                </select>
                <label for="status">Status</label>
            </div>
        </div>
        <div class="row">
            <input type="submit" value="Save" class="btn">
            <a href="/dashboard" class="btn orange">Cancel</a>
        </div>
    </form>
</div>